:root {
  --md-primary-fg-color:        #004c78;
  --md-primary-fg-color--light: #4C81A0;
  --md-primary-fg-color--dark:  #003C60;
}

.md-grid {
  max-width: 1440px;
}

table colgroup col {
    width: auto !important;
}

.md-tabs,
.md-sidebar--primary {
  display: block;
}

.md-copyright {
  display: none !important;
}

.md-nav__link--index {
  font-size: x-large;
}

.md-content {
  max-width: 800px !important;
}